.notice {
  background: var(--accent-bg);
  border: 2px solid var(--border);
  border-radius: 5px;
  padding: 1.5rem;
  margin: 2rem 0;
}

.date {
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

:root {
  color-scheme: dark;
  --bg: #212121;
  --accent-bg: #2b2b2b;
  --text: #dcdcdc;
  --text-light: #ababab;
  --accent: #ffb300;
  --code: #f06292;
  --preformatted: #ccc;
  --disabled: #111;
}
/* Add a bit of transparency so light media isn't so glaring in dark mode */
img,
video {
  opacity: 0.8;
}
